<!doctype html>
<html>
<head>
    <title>BOOK MARK</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Domine&family=Kalam&family=Luxurious+Roman&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1 class="book">Let Read </h1>
        <a class="btn" href="/login" class="btn btn-default">Login</a>
        <a class="btn" href="/signup" class="btn btn-default">Signup</a>

    </div>

</div>
</body>
</html>
